In [30]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [31]:
df = pd.read_csv ('machine.txt',encoding='utf-16',sep='\t')
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [32]:
df.columns

Index(['New machine', '    Old machine'], dtype='object')

In [34]:
df = df.rename(columns={'    Old machine':'Old machine'})
df.head(2)

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6

In [36]:
print(df['Old machine'].mean())
print(df['New machine'].mean())

43.230000000000004
42.14

In [38]:
c1_sample = df['New machine'].sample(6)
c1_sample.head()

2    41.3
5    42.8
9    42.7
6    43.2
7    42.3
Name: New machine, dtype: float64

In [39]:
old_machine_mean = df['Old machine'].mean()

In [40]:
#Hypothesis: H0: mean average speed of Old machine = average speed of New machine
#            H1: mean average speed of Old machine != average speed of New machine
#compute statistics and p-value
st.ttest_1samp(c1_sample,old_machine_mean)

Ttest_1sampResult(statistic=-2.8219610245585502, pvalue=0.037023090209966976)

In [41]:
# H0: mean average speed of Old machine <= average speed of New machine
# H1: mean average speed of Old machine > average speed of New machine
print('p value (single tailed): ',st.ttest_1samp(c1_sample,old_machine_mean)[1]/2)

p value (single tailed):  0.018511545104983488

In [42]:
# We arrive to the conclusion that the new machine works faster than the old machine (ie H1 is true)
# The data provides sufficient evidence to show that the new machine is better

Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [43]:
df = pd.read_csv ('pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [45]:
#H0: both have the same mean
st.ttest_rel(df['Attack'], df['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [47]:
print(df['Attack'].mean())
print(df['Defense'].mean())

79.00125
73.8425

In [46]:
#after doing the matched pairs treatment we can reject the H0 hyptothesis, 
#so there is a significant different between attaack and defende

# OPTIONAL PART | Inferential statistics - ANOVA

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

State the null hypothesis

State the alternate hypothesis

What is the significance level

What are the degrees of freedom of model, error terms, and total DoF

Data was collected randomly and provided to you in the table as shown: link to the image - Data

In [91]:
df = pd.read_excel('anova_lab_data.xlsx')

In [92]:
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [93]:
# H0 is that the mean is the same for Power´s different values
# H1 is that the power's values have different means

# The significance level is 5%.

In [94]:
df.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [95]:
df['Power Count'] = df.groupby('Power ').cumcount()

In [96]:
df

   Power   Etching Rate  Power Count
0   160 W          5.43            0
1   180 W          6.24            0
2   200 W          8.79            0
3   160 W          5.71            1
4   180 W          6.71            1
5   200 W          9.20            1
6   160 W          6.22            2
7   180 W          5.98            2
8   200 W          7.90            2
9   160 W          6.01            3
10  180 W          5.66            3
11  200 W          8.15            3
12  160 W          5.59            4
13  180 W          6.60            4
14  200 W          7.55            4

In [100]:
df_pivot = df.pivot(index='Power Count', columns='Power ', values='Etching Rate')
df_pivot.columns = ['Power_'+str(x) for x in df_pivot.columns.values]
df_pivot.head()

             Power_160 W  Power_180 W  Power_200 W
Power Count
0                   5.43         6.24         8.79
1                   5.71         6.71         9.20
2                   6.22         5.98         7.90
3                   6.01         5.66         8.15
4                   5.59         6.60         7.55

In [101]:
# degrees of freedom is 3 because we have 3 different power

In [104]:
st.f_oneway(df_pivot['Power_160 W'],df_pivot['Power_180 W'],df_pivot['Power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [ ]:
# H0 is that the mean is the same for Power´s different values
# H1 is that the power's values have different means
#We reject H0 because our p value is lower than the significanse level